{% extends 'base.html.twig' %}

{% block nav_outer_begin %}
    <div id="hero-wrapper">
{% endblock %}
        
{% block nav_outer_end %}
        <div class="container hero-inner">
            <h1 class="animated fadeIn wow" data-wow-delay="0.4s">A bot that notifies you when a new episode is online</h1>
            <p class="animated fadeIn wow" data-wow-delay="0.67s">This bot keeps track of all the online manga you read and the online anime you watch. As soon as a new episode is released, the bot will notify you via <a href="https://telegram.org/" target="_blank" class="tg-link">TelegramIM</a>. That's it</p>
            <a class="btn btn-md download-btn-first wow fadeInLeft animated" data-wow-delay="0.85s" href="https://t.me/MangaSeriesBot"><i class="fab fa-telegram-plane"></i> Start</a>
            <button class="btn btn-md features-btn-first animated fadeInLeft wow" data-wow-delay="0.95s" onclick="$('#features').goTo();return false;">Features</button>
            <img class="hero-smartphone animated fadeInRight wow" data-wow-delay="1s" src="{{ asset('img/phone-image-nagatoro.png') }}" alt="Smartphone">
        </div>
    </div> <!-- first section wrapper -->
{% endblock %}

{% block body %}
    <!-- ==========================================================================================================
                                                     ADVANTAGES
         ========================================================================================================== -->

    <div class="advantages-outer">
        <div class="container">
            <h1 class="second-title"><span class="span-perfect">Perfect</span> <span class="span-features">Features</span></h1>
            <small>Only necessary</small>

            <div class="row advantages-grid-columns wow animated fadeIn" data-wow-delay="0.36s">

                <div class="col-sm-4">
                    <img class="grid-image" src="{{ asset('img/icons8-no-cash-64.png') }}" alt="Free Icon">
                    <h1 class="grid-title">It's free</h1>
                    <p class="grid-desc">No payment. No premium account. No need in donations. You get the whole fuctionality for free.</p>
                </div>

                <div class="col-sm-4">
                    <img class="grid-image" src="{{ asset('img/icons8-mute-64.png') }}" alt="No ads Icon">
                    <h1 class="grid-title">No ads</h1>
                    <p class="grid-desc">No advertisement. No spam. No irrelevant messages. Just release notifications and nothing else.</p>
                </div>

                <div class="col-sm-4">
                    <img class="grid-image" src="{{ asset('img/icons8-invisible-64.png') }}" alt="No registration Icon">
                    <h1 class="grid-title">No registration</h1>
                    <p class="grid-desc">No email. No name. No personal information needed. You don't have to reveal yourself.</p>
                </div>


            </div>
        </div>
    </div>


    <!-- ==========================================================================================================
                                                      SLIDER
         ========================================================================================================== -->

    <div class="slider-outer wow fadeIn" data-wow-delay="0.36s">
        <h1>Lots of supported web-sites</h1>
        <small>and many more</small>
        <div class="container slider-inner">

            <div class="owl-carousel owl-theme">

                <div class="item"><img src="{{ asset('img/logos/mangadex.png') }}" alt="MangaDex"></div>
                <div class="item"><img src="{{ asset('img/logos/manganelo.png') }}" alt="Manganelo"></div>
                <div class="item"><img src="{{ asset('img/logos/readmanga.png') }}" alt="ReadManga"></div>
                <div class="item"><img src="{{ asset('img/logos/animelayer.png') }}" alt="AnimeLayer"></div>
                <div class="item"><img src="{{ asset('img/logos/sovetromantica.svg') }}" alt="SovetRomantica"></div>

            </div>

        </div>
    </div>


    <!-- ==========================================================================================================
                                                      FEATURES
         ========================================================================================================== -->

    <a href="features"></a>
    <div class="curved-bg-div wow animated fadeIn" data-wow-delay="0.15s"></div>
    <div id="features" class="features-outer">
        <div class="container">

            <div class="row features-grid-columns">

                <div class="col-sm-6 in-order-1 wow animated fadeInLeft" data-wow-delay="0.22s">
                    <div class="col-sm-image-container">
                        <img class="img-float-left" src="{{ asset('img/smartphone-bot.png') }}" alt="smartphone-1">
                        <span class="span-new">NEW</span>
                        <span class="span-free">Free</span>
                    </div>
                </div>

                <div class="col-sm-6 in-order-2 sm-6-content wow animated fadeInRight" data-wow-delay="0.22s">
                    <h1>Easy to use, yet powerful</h1>
                    <p>Just give a link on manga / anime once and the bot will work for you forever</p>
                    <p>Manage your watch-list as you like. The amount of records (mangas) in your list is not limited</p>
                    <!--<span class="circle circle-first"><i class="fab fa-instagram"></i></span>
                    <span class="circle circle-middle"><i class="fab fa-facebook"></i></span>
                    <span class="circle circle-last"><i class="fab fa-twitter"></i></span>-->
                </div>

                <div class="col-sm-6 in-order-3 sm-6-content wow animated fadeInLeft" data-wow-delay="0.22s">
                    <h1>Available anywhere</h1>
                    <p>Supports any platform that supports Telegram.</p>
                    <p>Phones, tablets, laptops, desktops</p>
                    <span class="circle circle-first"><i class="fab fa-android"></i></span>
                    <span class="circle circle-middle"><i class="fab fa-apple"></i></span>
                    <span class="circle circle-last"><i class="fab fa-windows"></i></span>
                    <span class="circle circle-4"><i class="fab fa-linux"></i></span>
                </div>

                <div class="col-sm-6 in-order-4 wow animated fadeInRight" data-wow-delay="0.22s">
                    <img class="img-float-right" src="{{ asset('img/phone-comp.png') }}" alt="PC, phone">
                </div>

                <div class="col-sm-6 in-order-5 wow animated fadeInLeft" data-wow-delay="0.22s">
                    <div class="col-sm-image-container">
                        <img class="img-float-left" src="{{ asset('img/smartphone-sites.png') }}" alt="Sites">
                        <!--<span class="span-data">DATA</span>-->
                        <span class="span-percent">&gt;15</span>
                    </div>
                </div>
                <div class="col-sm-6 in-order-6 sm-6-content wow animated fadeInRight" data-wow-delay="0.22s">
                    <h1>Everything in one place</h1>
                    <p>We support most popular online manga / anime web-sites and more. Don't see your favorite one? <a href="{-{ path('feedback') }}">Write us about it</a> and we might fix it soon</p>
                    <!--<span class="circle circle-first">95%</span>
                    <span class="circle circle-middle"><i class="fas fa-forward"></i></span>
                    <span class="circle circle-last"><i class="fab fa-github"></i></span>-->

                </div>




            </div> <!-- row -->


        </div>
    </div>


    <!-- ==========================================================================================================
                                                      REVIEWS
         ========================================================================================================== -->

    <div id="reviews" class="reviews-outer">
        <h1>What people are saying</h1>
        <small>Reviews</small>
        <div class="container reviews-inner">
            <div class="row justify-content-center">
                <div class="col-sm-5 wow fadeIn animated" data-wow-delay="0.25s">
                    <img class="float-left" src="img/quotes-1.jpg" alt="Quote 1">
                    <p class="testimonial-desc">Thanks for your work. That's just what I needed.</p>
                    <small class="testimonial-author">ARSA, localizer</small>
                    <img class="float-right" src="img/quotes-2.jpg" alt="Quote 2">
                </div>
                <div class="col-sm-5 testimonial-2 wow fadeIn animated" data-wow-delay="0.67s">
                    <img class="float-left" src="img/quotes-1.jpg" alt="Quote 1">
                    <p class="testimonial-desc">Thank you for this wonderful bot!</p>
                    <small class="testimonial-author">Anastasia, reader</small>
                    <img class="float-right" src="img/quotes-2.jpg" alt="Quote 2">
                </div>
            </div>

        </div>
    </div>
    

    <!-- ==========================================================================================================
                                                 BOTTOM
    ========================================================================================================== -->

    <div id="download" class="bottom-outer">
        <div class="overlay">
            <div class="container bottom-inner">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>How to start?</h1>
                        <p>Just install <a href="https://telegram.org/" target="_blank" class="tg-link">TelegramIM</a> if you don't have it yet.</p>
                        <p>Find <code>MangaSeriesBot</code> in the TelegramIM app or just click the link below. It's this easy.</p>

                        <a class="btn btn-md download-btn-first wow fadeInLeft animated" data-wow-delay="0.85s" href="https://t.me/MangaSeriesBot"><i class="fab fa-telegram-plane"></i> Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
