{% set curRoute = app.request.get('_route')
%}<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}@MangaSeriesBot Telegram Bot{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="A bot that notifies you when a new episode is online" />
        <meta name="keywords" content="telegram bot, manga, anime, torrent, updates, mangaseries, mangaderiesbot, serie, notification" />
        <meta name="author" content="@stayon" />
        {% block stylesheets %}
            <!-- Bootstrap  -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <!-- Owl Carousel  -->
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
            <!-- Animate.css -->
            <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">

            <!-- Theme style  -->
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block nav_outer_begin %}
            <div id="navbar-wrapper" class="mb-5">
        {% endblock %}
        {% block nav_inner %}
                <nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
                    <a class="navbar-brand" href="{{ path('index') }}">@MangaSeriesBot</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav nav-items-center m-auto">
                            <li class="nav-item {{ curRoute == 'index' ? 'active' : '' }}">
                                <a class="nav-link" href="{{ path('index') }}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                {% if curRoute == 'index' %}
                                    <a class="nav-link" href="#" onclick="$('#features').goTo();return false;">Features</a>
                                {% else %}
                                    <a class="nav-link" href="{{ path('index') }}#features">Features</a>
                                {% endif %}
                            </li>
                            <li class="nav-item {{ curRoute == 'feedback' ? 'active' : '' }}">
                                <a class="nav-link" href="{{ path('feedback') }}" >Feedback</a>
                            </li>
                        </ul>
                        <div class="social-icons-header text-nowrap">
                            <a href="https://t.me/MangaSeriesBot"><i class="fab fa-telegram"></i></a>
                        </div>
                    </div>
                </nav>
        {% endblock %}
        {% block nav_outer_end %}
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="footer-outer">
                <div class="container footer-inner">

                    <div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
                        <div class="column-1-3">
                            <h1>@MangaSeriesBot</h1>
                        </div>
                        <div class="column-2-3">
                            <nav class="footer-nav">
                                <ul class="m-auto">
                                    <a href="{{ path('index') }}"><li class="{{ curRoute == 'index' ? 'active' : '' }}">Home</li></a>
                                    <a href="#" onclick="$('#features').goTo();return false;"><li>Features</li></a>
                                    <a href="{{ path('feedback') }}"><li class="{{ curRoute == 'feedback' ? 'active' : '' }}">Feedback</li></a>
                                </ul>
                            </nav>
                        </div>
                        <div class="column-3-3">
                            <div class="social-icons-footer">
                                <a href="https://t.me/MangaSeriesBot"><i class="fab fa-telegram"></i></a>
                            </div>
                        </div>
                    </div>

                    <span class="border-bottom-footer"></span>

                    <p class="copyright">&copy; 2020 stayon. All rights reserved. Design by <a href="https://freehtml5.co" target="_blank">FreeHTML5</a>, <a target="_blank" href="https://icons8.com">Icons8</a> and stayon.</p>

                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script
              src="https://code.jquery.com/jquery-3.5.1.min.js"
              integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
              crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            <script src="{{ asset('js/owl.carousel.js') }}"></script>
            <script src="{{ asset('js/wow.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
