{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Feedback{% endblock %}

{% block body %}
	<div class="container">
		<h3>Feedback</h3>
		{% block feedback_body %}
			<p>Hello there!</p>
			<p>We are always curious of what you think. Please give us your feedback.</p>
			<p>Maybe something is wrong? Or you want to see your favourite web-site to be supported? Maybe you are here to just say Hi? Feel free to express yourself!</p>

			<div class="my-5">
				{{ form_start(form) }}
				{% if not form.vars.valid %}
					<div class="alert alert-danger" role="alert">
						{{ form_errors(form) }}
					</div>
				{% endif %}
				<div class="row">
					<div class="col-sm">
						{{ form_row(form.email, {'attr': {'placeholder': 'feedback.placeholder.notrequired'}}) }}
					</div>
					<div class="col-sm">
						{{ form_row(form.tg, {'attr': {'placeholder': 'feedback.placeholder.notrequired'}}) }}
					</div>
				</div>
				{{ form_row(form.feedbackText, {'attr': {'placeholder': 'feedback.placeholder.feedbackText'}}) }}
				{{ form_widget(form.send, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
				{{ form_end(form) }}
			</div>
		{% endblock feedback_body %}
	</div>
{% endblock body %}
