{% extends 'feedback/index.html.twig' %}

{% block feedback_body %}
	<div class="text-center">
		<p>Thank you for your feedback!</p>
		<div class="w-50 mx-auto">
			<img class="w-100" src="{{ asset('img/anime-love.png') }}" />
		</div>
	</div>
{% endblock %}